button {
  padding: 12px 24px;
  margin-right: 6px;
  border-radius: 4px;
  border-color: transparent;
}
button:hover {
  background-color: #ccc;
  cursor: pointer;
}

.button-group {
  text-align: center;
  padding: 40px;
}

.dashboard {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}

.left-board,
.right-board {
  width: 40%;
  padding: 10px;
  word-break: break-all;
}

.login-form {
margin: 0 auto;
}

.login-form input {
  padding: 12px 24px;
  margin-right: 6px;
}

.result {
  padding-left: 50xp;
  margin-top: 50px;
}